@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    
}

.mySignForm{
    width: 450px;
    margin-bottom: 80px;
    margin-left: 30%;
}
.heding-form{
    letter-spacing: 2px;}
.sign-up-btn{
        width: 100%;
        letter-spacing: 2px;
        background-color: #000;
        color: #fff;
        border-radius: 2px;
        }
    .sign-up-btn:hover{
        background:#fff;
        color: #000;
        border: 1px solid #000;
    }

    @media (max-width: 576px) {
        .mySignForm{
            margin-top: 2%;
            width: 300px;
            margin-bottom: 80px;
            margin-left:7%;
            
        }
        .form-label{
            font-size: 20px;
        }
    }
    @media(min-width: 576px)and (max-width: 992px){
        .mySignForm{
            margin-top: 2%;
            width: 600px;
            margin-bottom: 80px;
            margin-left:7%;
            
        }
        .form-label{
            font-size: 23px;
        }
        .sign-up-btn{
            font-size: 19px;
        }
    }
