


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    
}

.shipping-container{
    margin-bottom: 10%;
}
.letter-spacing{
    letter-spacing: 2px;
}

@media (max-width:576px){
    .main-text-heading{
        font-size: 22px;
        width: 100%;
    }
    .text{
        font-size: 18px;
        width: 100%;
        
    }
}
@media ( min-width:576px)and (max-width: 992px){
    .main-text-heading{
        font-size: 28px;
        width: 100%;
    }
    .text{
        font-size: 22px;
        width: 100%;
        
    }
}


